<div class="overlay">
  <ul>
    <li><a href="https://github.com/gwenevieve"><i class="far fa-envelope fa-2x"></i><br>Email</a></li>
    <li><a href="mailto:marie@mariefelton.com"><i class="fab fa-github fa-2x"></i><br>GitHub</a></li>
  </ul>
</div>
<div class="row text-center mx-auto">
  <div class="col-12">
    <p class="contact--paragraph">Right now I'm working on a new update for my website. Still looking to get in touch?</p>
    <a href="mailto:marie@mariefelton.com"><button class="text-center btn button--contact">Contact me</button></a>
  </div>
</div>
