<div class="row introduction-section">
  <div class="pl-sm-5 pl-md-5 col-10 offset-1 col-xs-8 col-sm-8 offset-sm-1 col-md-8 col-lg-10 col-xl-10 offset-xl-1">
    <p class="pb-2 pl-1 subtitle">Hi there, I'm</p>
    <h1 class="pb-5">Marie Sarah Felton</h1>
  </div>
  <div class="pl-sm-5 pl-md-5 col-10 offset-1 col-xs-8 col-sm-8 offset-sm-1 col-md-6 col-lg-6 col-xl-6 offset-xl-1">
    <p class="pb-5">I'm a Front-End Developer / UX Designer from Markham, Ontario. I aspire to create beautiful,
      functional websites that are accessible to everyone.</p>
    <a title="Email Link" href="mailto:marie@mariefelton.com"><button class="text-center btn button--contact">Contact
        me</button></a>
  </div>
</div>

<div class="row title about-section">
  <div class="pl-sm-5 pl-md-5 col-12 offset-1 col-xs-8 col-sm-8 offset-sm-1 col-md-8 col-lg-10 col-xl-10 offset-xl-1">
    <h2 class="pb-5">About</h2>
  </div>
  <div class="pl-sm-5 pl-md-5 col-10 offset-1 col-xs-8 col-sm-8 offset-sm-1 col-md-6 col-lg-6 col-xl-6 offset-xl-1">
    <p>Welcome to my small space on the web! I'm Marie, a front-end developer / UX designer, with a
      spackle of cyber security and networking added in. I graduated from Seneca College's Webmaster Program in 2017,
      and from HackerYou's UX Design in 2018.
      <br><br>
      I've also done some brief studying at Ryerson University for Cyber Security and Digital Forensics, along with
      Networking at Centennial College.
    </p>

  </div>
</div>

<div class="row title stack-section">
  <div class="pl-sm-5 pl-md-5 col-10 offset-1 col-xs-8 col-sm-8 col-md-8 col-lg-10 col-xl-10 offset-xl-1">
    <h2 class="pb-5">{{site.data.sections.section_title}}</h2>
  </div>
  <div class="pl-sm-5 pl-md-5 col-10 offset-1 col-xs-8 col-sm-8 offset-sm-1 col-md-6 col-lg-6 col-xl-6 offset-xl-1">
    <p class="pb-3">Some of the technologies I've recently worked with.
    </p>
    <ul>
        {% for item in site.data.sections.skills %}
      <li>{{ item.skill }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row title projects-section">
  <div class="pl-sm-5 pl-md-5 col-12 offset-1 col-xs-8 col-sm-8 offset-sm-1 col-md-8 col-lg-10 col-xl-10 offset-xl-1">
    <h2 class="pb-5">Projects</h2>
  </div>
  <div class="pl-sm-5 pl-md-5 col-10 offset-1 col-xs-8 col-sm-11 offset-sm-1 col-md-11 col-lg-11 col-xl-11 offset-xl-1">
    <p class="pb-3">Some of the personal projects I've worked on:
    </p>
    <ol>
      <li>
        LCBO Mock Site
        <p class="pb-3">A responsive website that uses the unofficial LCBO API to bring back results.</p>
      <a title="LCBO API Project Link" href="/projects/lcbo-api-project"><i class="fas fa-link"></i>Link</a>
      <a title="LCBO API Project Link" href="https://github.com/gwenevieve"><i class="fab fa-github"></i>GitHub Link</a>
      </li>
      <li>
          Portfolio Site
          <p class="pb-3">My portfolio!</p>
        <!--<a title="LCBO API Project Link" href="#"><i class="fas fa-link"></i>Link</a>-->
        <a title="Portfolio Link" href="https://github.com/gwenevieve/Portfolio"><i class="fab fa-github"></i>GitHub Link</a>
  
      </li>
    </ol>
  </div>
</div>