<div class="row introduction-section">
  <div class="pl-sm-5 pl-md-5 col-10 offset-1 col-xs-8 col-sm-8 offset-sm-2 col-md-8 col-lg-10 col-xl-11 offset-xl-1">
    <p class="pb-2 pl-1 subtitle">Hi there, I'm</p>
    <h1 class="pb-5">Marie Sarah Felton</h1>
  </div>
  <div class="pl-sm-5 pl-md-5 col-10 offset-1 col-xs-8 col-sm-8 offset-sm-2 col-md-6 col-lg-6 col-xl-6 offset-xl-1">
    <p class="pb-5">
      Welcome to my small space on the web! I'm Marie, a front-end developer and
      UX designer that aspires to create breathtaking digital experiences. I
      graduated from Seneca College's Web Development in 2017, and from
      HackerYou's UX Design in 2018. <br />
      <br />
      I've also studied at Ryerson University for Cyber Security and Digital
      Forensics, along with Networking at Centennial College.
    </p>
    <a title="Email Link" href="mailto:marie@mariefelton.com"><button class="text-center btn button">Contact
        me</button></a>
  </div>
</div>

<div class="row title stack-section">
  <div class="pl-sm-5 pl-md-5 col-10 offset-1 col-xs-8 col-sm-8 offset-sm-2 col-md-8 col-lg-10 col-xl-11 offset-xl-1">
    <h2 class="pb-5">{{ site.data.sections.tech_stack.section_title }}</h2>
  </div>
  <div class="pl-sm-5 pl-md-5 col-10 offset-1 col-xs-8 col-sm-8 offset-sm-2 col-md-6 col-lg-6 col-xl-6 offset-xl-1">
    <p class="pb-3">Some of the technologies I've recently worked with.</p>
    <ul>
      {% for item in site.data.sections.tech_stack.skills %}
      <li>{{ item.skill }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row title projects-section">
  <div class="pl-sm-5 pl-md-5 col-12 offset-1 col-xs-8 col-sm-8 offset-sm-2 col-md-8 col-lg-10 col-xl-10 offset-xl-1">
    <h2 class="pb-5">Projects</h2>
  </div>
  <div class="pl-sm-5 pl-md-5 col-10 offset-1 col-xs-8 col-sm-8 offset-sm-2 col-md-6 col-lg-6 col-xl-6 offset-xl-1">
    <p class="pb-4">
      A few personal projects that I've worked on by myself or with friends. If
      you want to collaborate on something, send me an email!
    </p>
  </div>
  <div class="pl-sm-5 pl-md-5 col-10 offset-1 col-xs-8 col-sm-10 offset-sm-2 col-md-10 col-lg-10 col-xl-10 offset-xl-1">

    <div class="projects-section__container pt-5 pb-3">
      <div class="pr-5">
        <h3 class="pt-5 pb-2">
          {{ site.data.sections.project_section_one.section_title }}
        </h3>
        <p class="pb-4 project-desc">
          {{ site.data.sections.project_section_one.section_desc }}
        </p>
        <ul class="pb-3">
          {% for item in site.data.sections.project_section_one.tech %}
          <li>{{ item.tech }}</li>
          {% endfor %}
        </ul>
        <button class="btn button mr-3 mr-md-2">
          <a href="https://github.com/gwenevieve/questrade-dashboard">GitHub Link</a>
        </button>
      </div>
      <img class="project-image" src="/assets/img/stock-dashboard-macbook-iphone.png"
        alt="Screenshot of stock dashboard project on Macbook and iPhone" />
    </div>

    <div class="projects-section__container pt-5 pb-3">
      <div class="pr-5">
        <h3 class="pb-3 pt-5">
          {{ site.data.sections.project_section_two.section_title }}
        </h3>
        <p class="pb-4 project-desc">
          <span class="p__alert pb-2"><strong>API Deprecated</strong></span>
          </br>
          {{ site.data.sections.project_section_two.section_desc }}
        </p>
        <ul class="pb-3">
          {% for item in site.data.sections.project_section_two.tech %}
          <li>{{ item.tech }}</li>
          {% endfor %}
        </ul>

        <button class="btn button mr-3 mr-md-2">
          <a href="https://github.com/gwenevieve/lcbo-api-website/">GitHub Link</a>
        </button>
        <button class="btn button mt-4 mt-sm-0 mx-0 mx-md-2">
          <a href="/projects/lcbo-api-project/">Live Link</a>
        </button>
      </div>
      <img class="project-image" src="/assets/img/LCBO-project-ipad-iphone.png"
        alt="Screenshot of LCBO project on iPad and iPhone" />
    </div>

    <div class="projects-section__container pt-5 pb-3">
      <div class="pr-5">
        <h3 class="pb-2 pt-5">
          {{ site.data.sections.project_section_three.section_title }}
        </h3>
        <p class="pb-4 project-desc">
          {{ site.data.sections.project_section_three.section_desc }}
        </p>
        <ul class="pb-3">
          {% for item in site.data.sections.project_section_three.tech %}
          <li>{{ item.tech }}</li>
          {% endfor %}
        </ul>
        <button class="btn button mr-3 mr-md-2">
          <a href="https://github.com/gwenevieve/portfolio/">GitHub Link</a>
        </button>
      </div>
      <img class="project-image" src="/assets/img/portfolio-project-dell.png"
        alt="Screenshot of portfolio project on Dell laptop" />
    </div>
  </div>
</div>