<div class="row introduction-section">
  <div class="col-12 col-xs-8 col-sm-8 col-md-8 col-lg-10 col-xl-10 offset-xl-1">
    <p class="pb-2 pl-1 subtitle">Hi there, I'm</p>
  <h1>Marie Sarah Felton</h1>
</div>
  <div class="col-12 col-xs-8 col-sm-8 col-md-6 col-lg-4 col-xl-4 offset-xl-1">
  <p class="pb-5">I'm a Front-End Developer / UX Designer from Markham, Ontario. I aspire to create beautiful, accessible websites for all.<br><br> I'm currently available for hire.</p>
  <a href="mailto:marie@mariefelton.com"><button class="text-center btn button--contact">Contact me</button></a>
</div>
</div>


<div class="row about-section">
  <div class="col-12 col-xs-8 col-sm-8 col-md-8 col-lg-10 col-xl-10 offset-xl-1">
    <h2>About</h2>
    </div>
    <div class="col-12 col-xs-8 col-sm-8 col-md-6 col-lg-6 col-xl-6 offset-xl-1">
<p>Welcome to my small space on the web! I'm Marie, a front-end developer / UX designer, with a spackle of cyber security and networking added in. I graduated from Seneca College's Webmaster Program in 2017, and from HackerYou's UX Design in 2018.
<br><br>
I've also done some brief studying at Ryerson University for Cyber Security and Digital Forensics, along with Networking at Centennial College.
</p>

</div>
<div class="col-12 col-xs-8 col-sm-8 col-md-6 col-lg-6 col-xl-4 offset-xl-1">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit dolorem rerum suscipit voluptatibus, ipsum! Doloribus amet tempora natus quasi perspiciatis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, asperiores qui molestias.</p>
</div>
  </div>


  <div class="row project-section">
    <div class="col-12 col-xs-8 col-sm-8 col-md-8 col-lg-10 col-xl-10 offset-xl-1">
      <h2>Projects</h2>
      </div>
      <div class="col-12 col-xs-8 col-sm-8 col-md-6 col-lg-6 col-xl-6 offset-xl-1">

</div
  </div>
