$yellow: #F8F32B;
$darkpurple: #212129;
$purple: #373742;

body {
  background-color: $darkpurple;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
}

.overlay {
  position: fixed;
  left: 40px;
  bottom: 0px;

  ul {
    padding: 0px 5px;
    text-align: center;

    li,
    a {
      list-style-type: none;
      padding: 12px 0px;
      color: $yellow;
      text-decoration: none;
    }
  }
}

.overlay::after {
  content: "";
  display: block;
  width: 1px;
  height: 200px;
  background-color: $yellow;
  margin: 0px auto;
}

h1 {
  font-size: 54px;
  line-height: 55px;
  color: $yellow;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h2 {
  font-size: 36px;
  line-height: 34px;
  color: $yellow;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

p {
  color: #e0de96;
  font-family: 'Anonymous Pro', monospace;
  margin: 0;
}

.introduction-section,
.about-section,
.stack-section,
.projects-section,
.fourohfour-section {
  padding-top: 150px;
}

ul {
  padding: 0px;
  padding-left: 16px;

  li {
    padding: 8px 0px;
    list-style-type: square;
    color: $yellow;
  }
}


.subtitle {
  font-size: 24px;
}

.button--contact {
  padding: 12px 24px;
  background: unset;
  border: 1px solid $yellow;
  border-radius: 0px;
  color: $yellow;

  &:hover {
    background-color: $yellow;
    border-radius: 0px;
    color: #000000;
  }

  a {
    color: unset;
    text-decoration: unset;
  }
}

.animated {
  display: none;
}

footer {
  p {
    color: $yellow;
  }
}

.projects-section {
  ol {
    display: flex;
    flex-direction: row;
    padding-left: 0px;

    li {
      background: $purple;
      color: $yellow;
      list-style-position: inside;
      width: 33.3%;
      margin-right: 36px;
      padding: 24px;
    }
  }

  a {
    color: unset;
    text-decoration: unset;
  }

  i {
    margin-right: 8px;
  }
}

@media only screen and (max-width: 576px) {
  .overlay {
    position: initial;
    margin-left: 8.333333%;;

    &::after {
      display: none;
    }

    ul {
      padding: 0px;
      display: flex;

      li {
        padding-right: 16px;
      }
    }
  }

  .introduction-section,
  .about-section,
  .stack-section,
  .projects-section,
  .fourohfour-section {
    padding-top: 50px;
  }

  .projects-section {
    ol {
      flex-direction: column;

      li {
        margin: 12px 0px;
        height: 300px;
        width: 100%;
      }
    }
  }
}